<%- include ('partials/_header'); -%>
  <!-- FORM -->
<div class="container">
   <div class="row" style="justify-content: center;">
       <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Inser Title of Recipe" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="" cols="80" class="form-control" placeholder="Insert Recipe Description" style="margin-top:15px; margin-bottom:15px"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">
                            Add
                        </button>
                    </form>
                </div>
            </div>
       </div>
   </div>
</div>
<!-- LIST -->
<div class="row" style="justify-content: center;">

    <div class="cont col-md-7 mt-5" style="justify-content: center;">
     <table class="table table-bordered table-hover">
         <thead>
             <tr>
                 <th>N°</th>
                 <th>Title</th>
                 <th>Description</th>
                 <th>Operation</th>
             </tr>
         </thead>
         <tbody>
             <% for( var i=0; i< tasks.length; i++) { %>
                 <tr>
                     <td><%= i + 1 -%></td>
                     <td><%= tasks[i].title -%></td>
                     <td><%= tasks[i].description -%></td>
                     <td>
                         <a href="/turn/<%= tasks[i]._id -%>" 
                             class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark' -%>">Done</a>
                         <a href="/delete/<%= tasks[i]._id -%>" class="btn btn-danger">Delete</a>
                         <a href="/edit/<%= tasks[i]._id -%>" class="btn btn-success">Edit</a>
                     </td>
                 </tr>
                 <% } %>
         </tbody>
     </table>
    </div>
</div>

<%- include ('partials/_footer'); -%> 
 